TT-healthcare-proj-ak/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "TT-healthcare-proj-ak"
		},
		"ls_for_lookup_file_adls_sql_db_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_for_lookup_file_adls_sql_db'"
		},
		"ls_for_lookup_file_adls_sql_db_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ttadlsdevnewak.dfs.core.windows.net/"
		},
		"tt_hc_ak_kv_ls_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://ttazureprojak.vault.azure.net/"
		},
		"AzureDataLakeStorage1_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ttadlsdevnewak.dfs.core.windows.net/"
		},
		"hosa_sql_ls_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "trendytech-sqlserver-ak.database.windows.net"
		},
		"hosa_sql_ls_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "@{linkedService().db_name}"
		},
		"hosa_sql_ls_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "aniruddhaka"
		},
		"tt_hc_ak_adb_ls_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0406-071658-zhzjiy3c"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_for_lookup_file_adls_sql_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_for_lookup_file_adls_sql_db_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_for_lookup_file_adls_sql_db_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tt_hc_ak_kv_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('tt_hc_ak_kv_ls_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_lookup_adls_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_for_lookup_file_adls_sql_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Lookup_file_table_mapping.json",
						"folderPath": "Lookup",
						"fileSystem": "raw-data-for-sql-database"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_for_lookup_file_adls_sql_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_ls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "tt_hc_ak_kv_ls",
							"type": "LinkedServiceReference"
						},
						"secretName": "access-key-ttadlsdevnewak"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/tt_hc_ak_kv_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksDeltaLake1_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-441565169221590.10.azuredatabricks.net",
					"clusterId": "0406-071658-zhzjiy3c",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "tt_hc_ak_kv_ls",
							"type": "LinkedServiceReference"
						},
						"secretName": "db-hc-adb-ws-at"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/tt_hc_ak_kv_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hosa_sql_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"db_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('hosa_sql_ls_properties_typeProperties_server')]",
					"database": "[parameters('hosa_sql_ls_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('hosa_sql_ls_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "tt_hc_ak_kv_ls",
							"type": "LinkedServiceReference"
						},
						"secretName": "azure-sql-db-pass"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/tt_hc_ak_kv_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tt_hc_ak_adb_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-441565169221590.10.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "tt_hc_ak_kv_ls",
							"type": "LinkedServiceReference"
						},
						"secretName": "db-hc-adb-ws-at"
					},
					"existingClusterId": "[parameters('tt_hc_ak_adb_ls_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/tt_hc_ak_kv_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_silver_to_gold')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "slv-Transacations",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/aniruddha.kulkarni10@gmail.com/3.Silver/Transactions"
						},
						"linkedServiceName": {
							"referenceName": "tt_hc_ak_adb_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "slv-Departments",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/aniruddha.kulkarni10@gmail.com/3.Silver/Departments_F"
						},
						"linkedServiceName": {
							"referenceName": "tt_hc_ak_adb_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "slv-npi",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/aniruddha.kulkarni10@gmail.com/3.Silver/NPI"
						},
						"linkedServiceName": {
							"referenceName": "tt_hc_ak_adb_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "slv-icd-codes",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/aniruddha.kulkarni10@gmail.com/3.Silver/ICD Code"
						},
						"linkedServiceName": {
							"referenceName": "tt_hc_ak_adb_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "slv-providers",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/aniruddha.kulkarni10@gmail.com/3.Silver/Providers_F"
						},
						"linkedServiceName": {
							"referenceName": "tt_hc_ak_adb_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "slv-cpt-codes",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/aniruddha.kulkarni10@gmail.com/3.Silver/CPT codes"
						},
						"linkedServiceName": {
							"referenceName": "tt_hc_ak_adb_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "slv-claims",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/aniruddha.kulkarni10@gmail.com/3.Silver/Claims"
						},
						"linkedServiceName": {
							"referenceName": "tt_hc_ak_adb_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "slv-encounters",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/aniruddha.kulkarni10@gmail.com/3.Silver/Encounters"
						},
						"linkedServiceName": {
							"referenceName": "tt_hc_ak_adb_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "gld_transactions",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "slv-Transacations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/aniruddha.kulkarni10@gmail.com/4.Gold/fact_transaction"
						},
						"linkedServiceName": {
							"referenceName": "tt_hc_ak_adb_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "gld-departments",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "slv-Departments",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/aniruddha.kulkarni10@gmail.com/4.Gold/dim_department"
						},
						"linkedServiceName": {
							"referenceName": "tt_hc_ak_adb_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "gld-npi",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "slv-npi",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/aniruddha.kulkarni10@gmail.com/4.Gold/dim_npi"
						},
						"linkedServiceName": {
							"referenceName": "tt_hc_ak_adb_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "gld-icd-codes",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "slv-icd-codes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/aniruddha.kulkarni10@gmail.com/4.Gold/dim_icd_code"
						},
						"linkedServiceName": {
							"referenceName": "tt_hc_ak_adb_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "gld-providers",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "slv-providers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/aniruddha.kulkarni10@gmail.com/4.Gold/dim_provider"
						},
						"linkedServiceName": {
							"referenceName": "tt_hc_ak_adb_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "gld-cpt-codes",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "slv-cpt-codes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/aniruddha.kulkarni10@gmail.com/4.Gold/dim_cpt_code"
						},
						"linkedServiceName": {
							"referenceName": "tt_hc_ak_adb_ls",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-04-22T12:53:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/tt_hc_ak_adb_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksDeltaLakeDataset1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDatabricksDeltaLake1_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema_name": {
						"type": "string"
					},
					"table_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureDatabricksDeltaLakeDataset",
				"typeProperties": {
					"database": {
						"value": "@dataset().schema_name",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table_name",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricksDeltaLake1_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/generic_adls_flat_file_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"file_name": {
						"type": "string"
					},
					"file_path": {
						"type": "string"
					},
					"container": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().file_path",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/generic_adls_parquet_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"file_path": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					},
					"container": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().file_path",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/generic_sql_db')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hosa_sql_ls",
					"type": "LinkedServiceReference",
					"parameters": {
						"db_name": {
							"value": "@dataset().db_name",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"db_name": {
						"type": "string"
					},
					"schema_name": {
						"type": "string"
					},
					"table_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema_name",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hosa_sql_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_copy_from_emr')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "If condition child pipeline",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.Load_Type,'Full')\n",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "fetch logs",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureDatabricksDeltaLakeSource",
											"query": {
												"value": "@concat(\n    'SELECT COALESCE(CAST(MAX(loaddate) AS DATE), ''1900-01-01'') AS last_fetched_date FROM audit.load_logs ',\n    'WHERE data_source = ''', pipeline().parameters.datasource, ''' ',\n    'AND tablename = ''', pipeline().parameters.tablename, ''''\n)",
												"type": "Expression"
											}
										},
										"dataset": {
											"referenceName": "AzureDatabricksDeltaLakeDataset1",
											"type": "DatasetReference",
											"parameters": {
												"schema_name": "'aa'",
												"table_name": "'aa'"
											}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "incremental load cp",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "fetch logs",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('select *,''',pipeline().parameters.datasource,''' as datasource from\n ',pipeline().parameters.tablename,' where ',pipeline().parameters.watermark,' >=\n ''',activity('fetch logs').output.firstRow.last_fetched_date,'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "generic_sql_db",
											"type": "DatasetReference",
											"parameters": {
												"db_name": {
													"value": "@pipeline().parameters.database",
													"type": "Expression"
												},
												"schema_name": "@split(pipeline().parameters.tablename, '.')[0]",
												"table_name": {
													"value": "@split(pipeline().parameters.tablename, '.')[1]",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "generic_adls_parquet_ds",
											"type": "DatasetReference",
											"parameters": {
												"file_path": "@pipeline().parameters.targetpath",
												"file_name": "@split(pipeline().parameters.tablename, '.')[1]",
												"container": "bronze"
											}
										}
									]
								},
								{
									"name": "insert logs Inc load",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "incremental load cp",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureDatabricksDeltaLakeSource",
											"query": {
												"value": "@concat(\n    'INSERT INTO audit.load_logs(data_source, tablename, numberofrowscopied, watermarkcolumnname, loaddate) VALUES (''',\n    pipeline().parameters.datasource, ''', ''',\n    pipeline().parameters.tablename, ''', ''',\n    string(activity('incremental load cp').output.rowsCopied), ''', ''',\n    pipeline().parameters.watermark, ''', ''',\n    utcNow(), ''')'\n)",
												"type": "Expression"
											}
										},
										"dataset": {
											"referenceName": "AzureDatabricksDeltaLakeDataset1",
											"type": "DatasetReference",
											"parameters": {
												"schema_name": "'aa'",
												"table_name": "'aa'"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Full Load CP",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('select * ,''', pipeline().parameters.datasource,''' as datasource from ',pipeline().parameters.tablename)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "generic_sql_db",
											"type": "DatasetReference",
											"parameters": {
												"db_name": {
													"value": "@pipeline().parameters.database",
													"type": "Expression"
												},
												"schema_name": {
													"value": "@split(pipeline().parameters.tablename,'.')[0]",
													"type": "Expression"
												},
												"table_name": "@split(pipeline().parameters.tablename, '.')[1]"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "generic_adls_parquet_ds",
											"type": "DatasetReference",
											"parameters": {
												"file_path": "@pipeline().parameters.targetpath",
												"file_name": {
													"value": "@split(pipeline().parameters.tablename, '.')[1]",
													"type": "Expression"
												},
												"container": "bronze"
											}
										}
									]
								},
								{
									"name": "Insert Logs Full Load",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Full Load CP",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureDatabricksDeltaLakeSource",
											"query": {
												"value": "@concat(\n    'INSERT INTO audit.load_logs(data_source, tablename, numberofrowscopied, watermarkcolumnname, loaddate) VALUES (''',\n    pipeline().parameters.datasource, ''',''',\n    pipeline().parameters.tablename, ''',''',\n    string(activity('Full Load CP').output.rowsCopied), ''',''',\n    pipeline().parameters.watermark, ''',''',\n    utcNow(), ''')'\n)",
												"type": "Expression"
											}
										},
										"dataset": {
											"referenceName": "AzureDatabricksDeltaLakeDataset1",
											"type": "DatasetReference",
											"parameters": {
												"schema_name": "'aa'",
												"table_name": "'aa'"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Load_Type": {
						"type": "string"
					},
					"database": {
						"type": "string"
					},
					"tablename": {
						"type": "string"
					},
					"datasource": {
						"type": "string"
					},
					"targetpath": {
						"type": "string"
					},
					"watermark": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-04-13T07:08:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureDatabricksDeltaLakeDataset1')]",
				"[concat(variables('factoryId'), '/datasets/generic_sql_db')]",
				"[concat(variables('factoryId'), '/datasets/generic_adls_parquet_ds')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_to_insert_data_to_sql_table_preprocessing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lk_file_name",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_lookup_adls_sql",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_copy_into_table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lk_file_name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lk_file_name').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data into tables",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "generic_adls_flat_file_ds",
											"type": "DatasetReference",
											"parameters": {
												"file_name": {
													"value": "@item().FileName",
													"type": "Expression"
												},
												"file_path": {
													"value": "@item().FilePath",
													"type": "Expression"
												},
												"container": {
													"value": "@item().Container",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "generic_sql_db",
											"type": "DatasetReference",
											"parameters": {
												"db_name": {
													"value": "@item().DatabaseName",
													"type": "Expression"
												},
												"schema_name": "dbo",
												"table_name": {
													"value": "@item().TableName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-03-31T05:45:46Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_lookup_adls_sql')]",
				"[concat(variables('factoryId'), '/datasets/generic_adls_flat_file_ds')]",
				"[concat(variables('factoryId'), '/datasets/generic_sql_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_emr_src_to_landing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lk_emr_configs",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "generic_adls_flat_file_ds",
								"type": "DatasetReference",
								"parameters": {
									"file_name": "load_config.csv",
									"file_path": "emr",
									"container": "configs"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lk_emr_configs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lk_emr_configs').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 5,
							"activities": [
								{
									"name": "File exists",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "generic_adls_parquet_ds",
											"type": "DatasetReference",
											"parameters": {
												"file_path": {
													"value": "@item().targetpath",
													"type": "Expression"
												},
												"file_name": "@split(item().tablename,'.')[1]",
												"container": "bronze"
											}
										},
										"fieldList": [
											"exists"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "ParquetReadSettings"
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "File exists",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@and(equals(activity('File exists').output.exists,true),equals(item().is_active,'1'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "archiveFile",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ParquetSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "ParquetReadSettings"
														}
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "generic_adls_parquet_ds",
														"type": "DatasetReference",
														"parameters": {
															"file_path": {
																"value": "@item().targetpath",
																"type": "Expression"
															},
															"file_name": "@split(item().tablename,'.')[1]",
															"container": "bronze"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "generic_adls_parquet_ds",
														"type": "DatasetReference",
														"parameters": {
															"file_path": {
																"value": "@concat(item().targetpath, '/archive/',\n formatDateTime(utcNow(), 'yyyy'), '/',\n formatDateTime(utcNow(), '%M'), '/',\n formatDateTime(utcNow(), '%d'))",
																"type": "Expression"
															},
															"file_name": {
																"value": "@split(item().tablename, '.')[1]",
																"type": "Expression"
															},
															"container": "bronze"
														}
													}
												]
											}
										]
									}
								},
								{
									"name": "If Condition3",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "If Condition1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(item().is_active,'1')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Execute Pipeline1",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_copy_from_emr",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"Load_Type": {
															"value": "@item().loadtype",
															"type": "Expression"
														},
														"database": {
															"value": "@item().database",
															"type": "Expression"
														},
														"tablename": {
															"value": "@item().tablename",
															"type": "Expression"
														},
														"datasource": {
															"value": "@item().datasource",
															"type": "Expression"
														},
														"targetpath": {
															"value": "@item().targetpath",
															"type": "Expression"
														},
														"watermark": {
															"value": "@item().watermark",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-04-13T06:22:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/generic_adls_flat_file_ds')]",
				"[concat(variables('factoryId'), '/datasets/generic_adls_parquet_ds')]",
				"[concat(variables('factoryId'), '/pipelines/pl_copy_from_emr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_end_to_end_hc')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_emr_src_to_landing",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_silver_to_gold",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-04-22T13:02:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_emr_src_to_landing')]",
				"[concat(variables('factoryId'), '/pipelines/pl_silver_to_gold')]"
			]
		}
	]
}